@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');


// Variables SASS
$red-color: #e74c3c;
$black-color: #333;
$white-color: #fff;
$light-color: #777;
$light-bg-color: #f5f5f5;
$border: 0.15rem solid $light-color;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

// Mixin SASS
@mixin grid($value) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
    gap: 3rem;
}

@mixin title-text($titleSize) {
    font-size: $titleSize;
    color: $white-color;
}

@mixin graph-text($graphSize) {
    font-size: $graphSize;
    line-height: 1.7;
    color: $light-color;
}



* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.35s linear;

    &::selection {
        background-color: $red-color;
        color: $white-color;
    }
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    &::-webkit-scrollbar {
        width: 1.3rem;
    }

    &::-webkit-scrollbar-track {
        background: $light-bg-color;
    }

    &::-webkit-scrollbar-thumb {
        background: $red-color;
    }
}

body {
    background-color: $light-bg-color;
}

section {
    padding: 3.5rem 9%;
}

.btn {
    display: block;
    padding: 1.2rem 1.6rem;
    width: 100%;
    font-size: 1.8rem;
    color: $black-color;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    color: $white-color;
    background-color: $red-color;
    cursor: pointer;

    &:hover {
        background-color: $black-color;
    }
}


// CSS Header
.header {
    padding: 2.3rem 9%;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 9999;
    background-color: $white-color;
    box-shadow: $box-shadow;

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            font-size: 2.5rem;
            color: $black-color;

            i {
                color: $red-color;
            }

            span {
                font-style: italic;
                font-weight: 700;
            }
        }

        .navbar {

            a {
                font-size: 2.2rem;
                color: $black-color;
                margin: 0 1rem;
                font-weight: 600;

                &:hover {
                    color: $red-color;
                    text-decoration: underline;
                    text-underline-offset: 0.4rem;
                }
            }
        }

        .icons {
            display: flex;
            align-items: center;
            gap: 2rem;

            div {
                font-size: 2.5rem;
                color: $light-color;
                cursor: pointer;

                &#menu-btn {
                    display: none;
                }

                &:hover {
                    color: $red-color;
                }
                
                span {
                    font-size: 1.8rem;
                    padding-left: 0.3rem;
                    font-weight: 600;
                }
            }
        }
    }
}

// CSS User account
.user-account {
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background-color: $white-color;
    overflow-y: scroll;
    transition: 0.5s ease-in;
    padding-top: 7rem;
    padding-bottom: 7rem;

    &.active {
        right: 0;
        transition: 0.5s ease-in;
    }

    &::-webkit-scrollbar {
        width: 1.3rem;
    }

    &::-webkit-scrollbar-track {
        background: $light-bg-color;
    }

    &::-webkit-scrollbar-thumb {
        background: $red-color;
    }

    #close-account {
        cursor: pointer;
        position: absolute;
        top: 3rem; right: 12.2rem;
        display: inline-flex;
        align-items: center;

        &:hover {
            
            span, i {
                color: $black-color;
            }

            span {
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            }

            i {
                transform: rotate(180deg) scale(1.2) translateX(2.5rem);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }

        span {
            @include graph-text(1.8rem);
            color: $red-color;   
        }
        i {
            font-size: 3rem;
            color: $red-color;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
    }

    .user {
        text-align: center;
        padding: 1.5rem 0;
        background-color: $light-bg-color;
        font-size: 1.8rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
        
        p {
            text-transform: none;
            color: $black-color;
        }

        span {
            text-transform: none;
            color: $red-color;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .display-orders {
        text-align: center;
        padding: 3rem 2rem;
        background-color: $light-bg-color;
        border-radius: 0.5rem;
        margin: 2.5rem 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;

        p {
            padding: 1rem 2rem;
            @include graph-text(1.8rem);
            color: $light-color;
            background-color: $white-color;
            border-radius: 0.5rem;
            box-shadow: $box-shadow;
            text-transform: none;

            span {
                color: $red-color;
                font-style: italic;
                font-size: 1.6rem;
                font-weight: 600;
            }
        }
    }

    .form-account {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        align-items: flex-start;

        form {
            flex: 1 1 40rem;
            border-radius: 0.5rem;
            background-color: $light-bg-color;
            padding: 3rem;

            h3 {
                @include title-text(2.5rem);
                color: $black-color;
                text-align: center;
                margin-bottom: 2.5rem;
                text-transform: uppercase;
            }

            .input-box {
                width: 100%;
                margin-bottom: 2rem;
                background-color: $white-color;
                color: $black-color;
                padding: 1rem 1.5rem;
                border-radius: 0.5rem;
                font-size: 1.6rem;
                text-transform: none;
                border: 0.2rem solid transparent;

                &:focus {
                    color: $red-color;
                    border-color: $red-color;

                    &::placeholder {
                        color: $red-color;
                    }
                }
            }

            .remember {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 3rem;
                font-size: 1.5rem;

                .remember-me {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem; 
                    color: $black-color;
                }

                a {
                    color: $black-color;

                    &:hover {
                        color: $red-color;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

// CSS My Orders
.my-orders {
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 9999;
    width: 38rem;
    height: 100vh;
    background-color: $white-color;
    overflow-y: scroll;
    padding: 3rem 2.5rem;
    border-left: 0.25rem solid $light-color;
    transition: 0.5s ease-in-out;

    &.active {
        right: 0;
        transition: 0.5s ease-in-out;
    }

    &::-webkit-scrollbar {
        width: 1.3rem;
    }

    &::-webkit-scrollbar-track {
        background: $light-bg-color;
    }

    &::-webkit-scrollbar-thumb {
        background: $red-color;
    }

    #close-orders {
        cursor: pointer;
        position: absolute;
        top: 1.5rem; right: 2rem;
        display: inline-flex;
        align-items: center;

        &:hover {
            span, i {
                color: $black-color;
            }
            span {
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            }
            i {
                transform: rotate(180deg) scale(1.2) translateX(2.5rem);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }

        span {
            @include graph-text(1.8rem);
            color: $red-color;   
        }
        i {
            font-size: 2.3rem;
            color: $red-color;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
    }

    .title {
        @include title-text(2.3rem);
        color: $black-color;
        text-align: center;
        margin: 1.5rem 0;
    }

    .box-container {
        .box {
            background-color: $light-bg-color;
            padding: 1rem 2rem;
            margin-bottom: 2rem;
            border-radius: 0.5rem;

            p {
                @include graph-text(1.6rem);
                margin: 0.6rem 0;
                line-height: 1.7;
                color: $red-color;

                span {
                    text-transform: none;
                    color: $black-color;
                    font-style: italic;
                    padding-left: 0.8rem;
                    font-weight: 600;
                }
            }
        }
    }
}


// CSS Shopping Cart
.shopping-cart {
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 9999;
    width: 48rem;
    height: 100vh;
    background-color: $light-bg-color;
    overflow-y: scroll;
    padding: 3rem 2.5rem;
    border-left: 0.2rem solid $light-color;
    transition: 0.5s ease-in-out;

    &.active {
        right: 0;
        transition: 0.5s ease-in-out;
    }

    &::-webkit-scrollbar {
        width: 1.3rem;
    }

    &::-webkit-scrollbar-track {
        background: $light-bg-color;
    }

    &::-webkit-scrollbar-thumb {
        background: $red-color;
    }

    #close-cart {
        cursor: pointer;
        position: absolute;
        top: 1.5rem; right: 1.2rem;
        display: inline-flex;
        align-items: center;

        &:hover {
            span, i {
                color: $black-color;
            }
            span {
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            }
            i {
                transform: rotate(180deg) scale(1.2) translateX(2.5rem);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }

        span {
            @include graph-text(1.8rem);
            color: $red-color;   
        }
        i {
            font-size: 2.3rem;
            color: $red-color;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
    }

    .title {
        @include title-text(2.3rem);
        color: $black-color;
        text-align: center;
        margin: 1.5rem 0;
    }

    .box-container {
        .box {
            padding: 1.8rem 2rem;
            margin-bottom: 2.5rem;
            border-radius: 0.5rem;
            position: relative;
            background-color: $white-color;
            display: flex;
            align-items: center;
            gap: 1.5rem;

            .delete-item {
                position: absolute;
                top: 0.8rem; right: 1.5rem;
                font-size: 1.9rem;
                color: $light-color;
                cursor: pointer;

                &:hover {
                    color: $red-color;
                    transform: translateY(-0.5rem);
                }
            }

            img {
                width: 8rem;
                height: 8rem;
                object-fit: cover;
            }

            .content {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 2rem;

                .info {
                    width: 14rem;

                    .name {
                        @include title-text(1.6rem);
                        color: $black-color;
                        text-transform: none;
                        margin-bottom: 0.5rem;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                        overflow: hidden;
                    }
                    .price {
                        @include graph-text(1.45rem);
                        color: $black-color;
                        font-style: italic;
                        color: $red-color;
                    }
                }
                .quantity {
                    display: flex;
                    align-items: center;
                    
                    border-radius: 0.5rem;
                    border: 0.2rem solid $light-color;

                    span {
                        font-size: 1.4rem;
                        cursor: pointer;
                        padding: 0 0.8rem;

                        &:hover {
                            color: $red-color;
                            transform: scale(1.4);
                        }
                    }

                    .qty {
                        @include graph-text(1.6rem);
                        color: $red-color;
                        font-weight: 600;
                        width: 4.5rem;
                        text-align: center;
                        border-left: 0.2rem solid $light-color;
                        border-right: 0.2rem solid $light-color;
                    }
                }
            }
        }
    }
}



// Media queries - Responsive Design
@media (max-width: 1024px) {
    html {
        font-size: 57%;
    }
    .user-account {
        #close-account {
            right: 8.25rem;
        }
    }

    .my-orders {
        #close-orders {
            right: 1.7rem;
        }
    }
}

@media (max-width: 768px) {
    html {
        font-size: 53.5%;
    }

    .header {
        .flex {
            .navbar {
                top: 100%;
                left: 0;
                right: 0;
                position: absolute;
                border-bottom: $border;
                border-top: $border;
                padding: 1.5rem 3rem;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

                &.active {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                }

                a {
                    display: block;
                    margin: 2rem 0;
                }
            }

            .icons {
                div#menu-btn {
                    display: inline-block;

                    &.fa-xmark {
                        font-size: 2rem;
                        transform: rotate(180deg) scale(1.75);
                    }
                }


            }
        }
    }

    .user-account {
        #close-account {
            right: 6.1rem;
        }
    }

    .my-orders {
        #close-orders {
            right: 1.7rem;
        }
    }
}

@media (max-width: 600px) {
    .user-account {
        #close-account {
            right: 4.5rem;
        }
    }

    .my-orders {
        #close-orders {
            right: 1.5rem;
        }
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .user-account {
        #close-account {
            right: 3rem;
        }
    }

    .my-orders {
        width: 100%;
        border-left: none;
        padding: 3rem;
    }

    .shopping-cart {
        width: 100%;
        border-left: none;
    }
}